.page.carousel-3-page {
    background: transparent;
    font-size: 14px;
    color: #f9f9f9;
    margin: 0;
    padding: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-3-page h2.section-title {
    font-weight: 500;
    margin: 0 0 16px;
    color: white;
}

.carousel-3-page p.section-desc {
    opacity: 0.7;
    font-size: 18px;
    margin: 0 0 20px;
    text-align: center;
}

.carousel-3-page a.explore-btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    background: transparent;
    border-radius: 3.125rem;
    border: 2px solid #ffffff;
    margin: 10px auto;
    padding: 6px 26px;
    font-size: 0.9rem;
    transition: 0.3s ease-in-out;
}

.carousel-3-page .swiper {
    width: 100%;
    height: 480px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.carousel-3-page .swiper-pagination-bullet,
.carousel-3-page .swiper-pagination-bullet-active {
    background: #fff;
}

.carousel-3-page .swiper-pagination {
    bottom: 0px !important;
    transform: scale(1.3);
}

.carousel-3-page .swiper-slide {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    filter: grayscale(0.4) saturate(2) sepia(0.2);
    -webkit-box-reflect: below 24px linear-gradient(transparent, transparent, #0006);
    position: relative;
    transition: transform 0.3s ease;
}

.carousel-3-page .swiper-slide::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgb(0 0 0 / 0%) 50%, rgb(0 0 0 / 100%));
    border-radius: inherit;
    z-index: 1;
}

.carousel-3-page .swiper-slide h2 {
    color: #fff;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 0.625rem;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 2;
}

.carousel-3-page .swiper-slide a.explore-btn:hover {
    color: #005baa;
    background: white;
}

.carousel-3-page .swiper-slide div.slide-content {
    transition: 0.5s;
    opacity: 0;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 2;
    position: relative;
}

.carousel-3-page .swiper-slide-active div.slide-content {
    opacity: 1;
}

.swiper-slide-shadow-coverflow {
    border-radius: 20px;
}